*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Arimo', sans-serif;
    font-family: 'Krona One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

:root{
    font-size: 100%;

    /* tipografías */
    --font-primary: 'Arimo', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    /* tamaños tipografía */
    --h2-size: 3.5em;
    --h3-size: 1.8em;
    --h4-size:1.5em;

    /* colores */
    --color-brown: #8f6843;
    --color-beige: #f5ece0;
    --color-white: white;
    --color-dark: #635C55;
    
    
}

h1,h2,h3,h4,h5,h6,strong{
    font-size: inherit;
    font-weight: inherit;
}

img, video, iframe{
    max-width: 100%;
    width: 100%;
    display: block;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

p a{
    display: inline;
}

form, input, select, textarea, label, button, legend{
    display:block;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
}


/* FIXED BUTTON */


.Fixed-buttons{
    /* background-color: lightgreen;   */
    width: 10%;
    /* min-height: 6.25rem; */
   
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: .3125rem;


    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1;

}

.Fixed-buttons-cart{
    background-color: white;
    padding: .625rem;
    box-shadow: 10px 10px 60px grey;
                
}


.Fixed-buttons-circle{
    background-color: #DC3F57; 
    padding: .625rem;
    box-shadow: 10px 10px 60px grey;
            
}








/* SECTION HEADER */
.Header{
    /* background-color: lightblue; */
    padding: 1.25rem; 

}

.Header-wrapper{
    /* background-color: lightyellow; */
    width: 100%;

    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.Header-h1{
    /* background-color: lightgreen; */
    max-width: 20vh;
}

.Header-ul{

    width: 80%;
    /* background-color: orange; */


    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    gap: 2.5rem;

    font-weight: 400;
    font-size: 1em;
    text-transform: lowercase;
    color: var(--color-brown);
}

.Header-li:hover{
    color: #f5ece0;
    transition: all 1s ease;
}

.Header-points{
    width: 4vh;
}

.Header-burguer{
    display: none;
}


@media (max-width:800px){

    .Header-wrapper{
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .Header-burguer{
        display: block;
    }

    .Header-points{
        display: none;
    }

    .Header-ul{
        display: none;
    }

    .Header-h1{
       margin-left: 40%;

    }

}








/* SECTION GRID - MAIN */


.Main{
    background-color: lightblue;
    
}

.Main-section{

    /* min-height: 200vh; */
    width: 100%;

    background-color: lightgrey;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50vh; 
  

}


.Hear{

    background-image: url(../assests/main-img-1.jpg); 
    background-position: center center;
    background-size: cover;

    grid-column: span 2;
    grid-row: span 2;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;

    padding:3.125rem;

  
}

.Hear-h2{
   
    width: 100%;

    color: var(--color-white);
    font-size: var(--h2-size);
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font-primary);
}

.Hear-text{
    
    width: 100%;
    color: var(--color-white);
}

.Hear-button{
    background-color: #d6b99d;
    color: var(--color-white);
    font-family: var(--font-secondary);
    
    font-size: 1em;
    font-weight: 400;

    padding: 15px 40px;
    border-radius: 25px;
}

.Hear-button:hover{
    background-color: #CBB297;
    transition: all 1s ease;
}


@media  (max-width:1100px) {
    
    .Main-section{
        grid-template-columns: repeat(2, 1fr);
    
    }   

    .Superb{
        order: 1;
    }
    
}


@media (max-width:600px){

    .Main-section{
        grid-template-columns: 1fr;
    }


    .App, .Video, .Run, .Wave{
        grid-column: span 2;
        
        
    }

    .Fixed-buttons{
        display: none;
    }
   

}










/* App */

.App{
    background-color: #F5ECE0;

    padding: 3.125rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    gap: 1.875rem;
}

.App-h3{
    /* background-color: lightblue; */
    width: 100%;

    color: var(--color-brown);
    font-family: var(--font-primary);
    font-size: var(--h3-size);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    
}

.App-button{
    background-color: var(--color-white);
    color: rgb(106, 83, 62);
    font-family: var(--font-secondary);
    
    font-size: 1em;
    font-weight: 400;

    padding: 15px 40px;
    border-radius: 25px;
}

.App-button:hover{
    background-color: #CBB297;
    transition: all 1s ease;
    color: white;
}













/* Video */

.Video{
    background-color: beige;
    background-image: url(../assests/about-img-1.jpg);
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;

}


.Video-play{
    /* background-color: lightblue;  */

    transition: all 1s ease;
    position: relative;
    opacity: 100%; 
    z-index: 1;

}

.Video-play-secondary{
    position: absolute;
    
    opacity: 100%;
}

.Video-play:hover{
    opacity: 0%;
    
}













/* Say */

.Say{
    grid-column: span 2;

    background-image: url(../assests/main-img-2.jpg);
    background-position: center center;
    background-size: cover;

    padding: 40px 3.125rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
   

}

.Say-h4{
    

    color: var(--color-brown);
    font-family: var(--font-primary);
    font-size: var(--h4-size);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .0625rem;
    
}

.Say-text{
    
    width: 70%;

    font-family: var(--font-secondary);
    color: var(--color-dark);
    font-weight: 400;
    line-height: 1.875rem;

}


.Say-author{
    /* background-color: lightblue; */
}

.Say-author-name{
    letter-spacing: .0625rem;
    color: var(--color-brown);
    font-weight: 500;
    text-transform: uppercase;
}

.Say-author-job{
    margin-top: .625rem;
    color: var(--color-dark);
}












/* Map */


.Map{
    
    grid-column: span 2;

    background-image: url(../assests/map.png);
    background-position: center center;

    position: relative;

}

/* .Map iframe{ 
    grid-column: span 4;
    height: 100%;
    
} */

.Map-icon{
    

    position: absolute;
    top: 50%;
    left: 50%;
}







/* Superb */


.Superb{
    grid-column: span 2;
    grid-row: span 2;
    

    padding: 5rem;

    background-color: aqua;
    background-image: url(../assests/main-img-5.jpg);
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1.875rem;
    
}

.Superb-h2{

    font-size: var(--h2-size);
    color: var(--color-white);
    font-weight: 600;
    font-family: var(--font-primary);
    text-transform: uppercase;
}

.Superb-text{
    color: var(--color-white);
}

.Superb-button{
    background-color: #d6b99d;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-weight: 400;
    padding: 15px 40px;
    border-radius: 25px;
}

.Superb-button:hover{
    background-color: #CBB297;
    transition: all 1s ease;
}






/* Run */


.Run{
    background-image: url(../assests/main-img-3.jpg);
    background-position: center center;
    background-size: cover;

}







/* Wave */

.Wave{
    background-color: var(--color-white);

    padding: 3.125rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    gap: 1.875rem;
}

.Wave-icon{
    /* background-color: lightblue; */

}

.Wave-h4{

    color: var(--color-brown);
    font-family: var(--font-primary);
    font-size: var(--h4-size);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .0625rem;

}

.Wave-text{

    text-align: center;
    font-family: var(--font-secondary);
    color: var(--color-dark);
    font-weight: 400;
    line-height: 1.875rem;
}



/* FORM */

.Main-form{
    padding: 6.25rem;
    background-color: var(--color-beige);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.Main-form-h3{ 
    color: var(--color-brown);
    font-family: var(--font-primary);
    font-size: var(--h3-size);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

}

.Form{
    /* background-color: pink; */
    width: 40%;
    border-bottom: 1px solid #635C55;
}

input{
    /* background-color: orange; */
}

@media (max-width:1000px){
    .Main-form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3.125rem;
    }

    .Form{
        width: 100%;
    }

    
}







/* FOOTER */

.Footer{
    background-color: var(--color-white) ;
    padding: 6.25rem;
    
}

.Footer-wrapper{
    width: 90%;
    /* background-color: lightblue; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.Footer-column-left{
    /* background-color: pink; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space space-between;
    align-items: flex-start;

    gap: 1.25rem;
}

.Footer-column-left-logo{
    /* background-color: lightseagreen; */
    max-width: 50%;
}

.Footer-column-left-text{
    font-size: 0.8em;
}


.Footer-ul{
    font-family: var(--font-primary);
    text-transform: uppercase;
    color: var(--color-brown);
    font-size: 0.8em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    gap: .625rem;

}

.Footer-li:hover{
    color: var(--color-beige);
}


.Footer-social{

    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 1.25rem;

}



@media (max-width:1100px){
    .Footer-wrapper{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
    }
}


